body {
    background-color: antiquewhite;
    background-image: url("assets/elements/flowersbg.gif");
}

button {
    font-family: 'REM', sans-serif;
}

div {
    margin-bottom: 40px;
    padding-left: 15px;
}

div p {
    color: antiquewhite;
    padding-right: 4%;
}

div img {
    border-radius: 5%;
}

h1 {
    font-family: 'Phudu', sans-serif;
}

input {
    font-family: 'REM', sans-serif;
}

input::placeholder {
    font-family: 'REM', sans-serif;
}

option {
    font-family: 'REM', sans-serif;
}


p {
    font-family: 'REM', sans-serif;
}

select {
    font-family: 'REM', sans-serif;
}

.blurb {
    margin: 0 auto;
    background: rgb(10, 10, 10, 0.9);
    border-radius: 20px;
    width: 5em;
    margin-top: 10em;
    padding-top: 2%;
    padding-bottom: 5%;
    /*Quick guide to box-shadow:
    First two numbers are vertical and horizontal offset.
    Third number is how far to spread the fuzzy effect.
    Fourth number is how much solid border/shadow there should be before the fuzzy effect begins.
    */
    box-shadow: 0px 0px 15px 2px #42c6ff;
}

.center {
    margin: auto;
}

.house {
    background: url("assets/elements/housediv.gif");
    height: 32px;
}

.intro {
    margin: 0 auto;
    background: rgb(10, 10, 10, 0.9);
    border-radius: 20px;
    width: 50em;
    margin: auto;
    margin-top: 10em;
    padding-top: 2%;
    padding-bottom: 5%;
    /*Quick guide to box-shadow:
    First two numbers are vertical and horizontal offset.
    Third number is how far to spread the fuzzy effect.
    Fourth number is how much solid border/shadow there should be before the fuzzy effect begins.
    */
    box-shadow: 0px 0px 15px 2px #42c6ff;
}

.mountain {
    margin: 0 auto;
    background: rgb(10, 10, 10, 0.9);
    border-radius: 20px;
    width: 70%;
    margin-top: 1em;
    padding-top: 2%;
    padding-bottom: 5%;
    /*Quick guide to box-shadow:
    First two numbers are vertical and horizontal offset.
    Third number is how far to spread the fuzzy effect.
    Fourth number is how much solid border/shadow there should be before the fuzzy effect begins.
    */
    box-shadow: 0px 0px 15px 2px #42c6ff;
}

.profile {
    height: 15em;
    float: left;
    margin-right: 1em;
}

.set {
    width: 100%;
}

.subtitle {
    text-align: center;
    font-family: 'Phudu', sans-serif;
    margin: auto;
}

.title {
    font-family: 'Phudu', sans-serif;
    font-size: 5em;
    text-align: center;
    margin: auto;
}

#emma {
    width: 35%;
    float: right;
    margin-bottom: 1em;
    margin-right: 5%;
}

#lain {
    width: 35%;
    float: left;
    margin-right: 5%;
}

